data/
result/
gather_helm_data/helm_jsons/

wandb/
google-cloud-cli-linux-x86_64.tar.gz
google-cloud-sdk/

*.zip
*.png
*.npy
*.pkl.batch_count
*.pkl
*.RData
*.Rhistory
*.pt
*.parquet

.env

__pycache__/
.ipynb_checkpoints
*/.ipynb_checkpoints/*
**/*.ipynb_checkpoints/

a.py
a.ipynb